@font-face {
  font-family: "Basic";
  src: url("/src/assets/fonts/Basic/Basic-Regular.ttf");
}

@font-face {
  font-family: "Baumans";
  src: url("/src/assets/fonts/Baumans/Baumans-Regular.ttf");
}

@font-face {
  font-family: "Beauty_wind";
  src: url("/src/assets/fonts/beauty_wind/Beauty\ Wind.ttf");
}

@font-face {
  font-family: "Ephesis";
  src: url("/src/assets/fonts/Ephesis/Ephesis-Regular.ttf");
}

@font-face {
  font-family: "Epilogue";
  src: url("/src/assets/fonts/Epilogue/Epilogue-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
  font-family: "The_Suavity";
  src: url("/src/assets/fonts/the-suavity/The\ Suavity.ttf");
}
