// Naming the components to import with underscore before names

// MAIN
$white: #ffff;
$grey_blue: rgba(129, 195, 215, 0.2);
$red: #bd5757;
$nav_burger: rgba(#0d5eaf, 0.9);
$GreekBlue: #0d5eaf;

// SUB COLORS
$warningRed: #cd3e3e;
$lightOrange: rgba(238, 108, 77, 1);
$lightRedgrey: rgba(217, 220, 214, 0.4);
$grey: rgb(92, 90, 90);
$medumGrey: rgba(112, 112, 112, 1);
$mediumBlue: #3a7ca5;
$darkBlue: #16425b;
$lightBlue: #e6f3f7;
$transparency: rgba(255, 255, 255, 0.74);
$disabled: #d9dcd6;
$lightGrey: #d2d2e3;

// TXT
$txt: #1e1e1e;
$txt_minor: #2f6690;
