@import "../styles/mixin";

.reservation_nav {
  @include flex_rows;
  width: 60%;
  margin-inline: 22% 18%;
  position: absolute;
  z-index: 10;
  .btn_reservation {
    cursor: pointer;
    width: 80px;
    height: 80px;
    display: block;
    transform: rotate(45deg);
    text-align: center;
    display: block;
    text-align: center;
    background-color: $darkBlue;
    border-radius: 10px;
    padding: 0;
    box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.625);
    border: $txt 1px solid;
    &:active {
      box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.625),
        /* Second shadow */ inset 1px 1px 10px 1px rgba(21, 26, 40, 0.874);
    }

    &.disabled {
      background-color: $disabled;
      box-shadow: 3px -1px 5px 1px rgba(85, 85, 85, 0.385);
      cursor: not-allowed;
      span {
        color: $medumGrey;
      }
    }
    span {
      display: inline-block;
      transform: rotate(-45deg);
      font-family: Inter;
      text-transform: uppercase;
      font-size: 9px;
      color: $white;
      font-weight: 600;
    }
  }
}
