@import "../../styles/mixin";

.increment-decrement-input {
  display: flex;
  .decrement,
  .increment {
    border-radius: 5px;
    width: 25px;
    height: 25px;
    border: 1px solid $txt;
    background-color: $darkBlue;
    color: $white;
    font-weight: 800;
    font-size: 14px;
    &:active {
      box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.684);
    }
    cursor: pointer;
  }

  .decrement {
    margin-right: 5px;
  }

  .increment {
    margin-left: 5px;
  }
  .input-number {
    width: 30px;
    text-align: center;
    font-family: Inter;
    border: 1px solid $txt;
    font-weight: 500;
    font-size: 13px;
  }
}
