@import "../../styles/mixin";

.introduction_article {
  color: $txt;
  margin: 0;
  padding: 3% 10%;

  .icon_doodle_left_arrow {
    height: 60px;
    width: auto;
    transform: rotate(26.327deg);
  }

  section {
    padding: 0% 11% 5.5% 11%;
    margin-top: -40px;

    h2 {
      font-family: "Epilogue";
      font-size: 30px;
      font-weight: 500;

      @media screen and (max-width: 1900px) {
        font-size: 25px;
      }

      @media screen and (max-width: 1450px) {
        font-size: 22px;
      }
    }

    p {
      font-family: "Inter";
      font-size: 19px;
      font-style: italic;
      font-weight: 500;
      line-height: 40px;
      margin-top: 90px;
      padding-inline: 8%;
      text-align: center;
    }
  }

  @include media-query(1450px) {
    .icon_doodle_left_arrow {
      height: 45px;
    }
    section {
      p {
        font-size: 15px;
        padding-left: 0%;
      }
    }
  }

  @include media-query(580px) {
    padding: 10% 3%;
    .icon_doodle_left_arrow {
      transform: rotate(20deg);
      height: 35px;
    }
    section {
      padding: 3% 2% 5% 2%;
      margin-inline: 1%;
      line-height: 25px;

      h2 {
        font-size: 14px;
        font-weight: 700;
        margin-left: 12%;
      }
      p {
        #indentation {
          margin-left: 15%;
        }
        font-style: normal;
        font-size: 13px;
        margin-top: 50px;
        padding: 0;
        line-height: 28px;
        text-align: start;
      }
    }
  }
}
