@import "../../styles/mixin";

#backOffice_menu {
  width: 20.1%;
  min-height: 49em;
  background-color: $GreekBlue;
  box-shadow: 4px 2px 8px 2px rgba(0, 0, 0, 0.5);
  font-family: Inter;
  padding-block: 4%;

  .dropdown_container {
    width: 80%;
    padding-inline: 10%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    margin-bottom: 10%;
    cursor: default;
    .button_dropdown {
      color: $white;
      font-weight: 600;

      font-size: 0.9em;
      height: 80px;
      width: 100%;
      border: none;
      background-color: $GreekBlue;
      display: flex;
      align-items: center;
      span {
        cursor: pointer;
        margin-right: 30%;
      }
      .backOffice_menu_a_icon {
        width: 3em;
        height: 3em;
        margin-right: 45px;
        cursor: pointer;
      }

      .arrow_down {
        height: 20px;
        width: auto;
        transform: rotate(90deg);
      }
    }
  }

  .backOffice_menu_a,
  .backOffice_menu_a_dropdown {
    width: 80%;
    padding-inline: 10%;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    margin-bottom: 10%;
    cursor: default;

    button {
      color: $white;
      font-weight: 600;
      font-size: 0.9em;
      width: 70%;
      height: 100%;
      border: none;
      background-color: $GreekBlue;
      display: flex;
      align-items: center;
      margin-right: 25%;
      cursor: pointer;
      .backOffice_menu_a_icon {
        width: 3em;
        height: 3em;
        margin-right: 40px;
      }
    }
    .arrow_right {
      height: 20px;
      width: auto;
    }
  }
  .backOffice_menu_a_dropdown {
    font-size: 0.85em;
    height: 60px;
    margin: 0;
    padding-inline: 22%;
    button {
      margin-right: 80%;
    }
    .arrow_right {
      height: 1.3em;
      width: auto;
      margin-right: 40px;
    }
  }
}
